.characterDetailsMainContainer {
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.characterDetailsInnerContainer {
    width: 80%;
    display: flex;
    justify-content: space-around
}

.characterDetails__column {
    height: 15rem;
    max-width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.characterBackground {
    display: flex;
    flex-direction: column;
}

.characterBackgroundDisplay {
    text-overflow: clip;
    height: fit-content;
    word-wrap: break-word;
}


.largeAvatar {
    width: 25%;
}