@font-face {
    font-family: YeOldPixel;
    src: url(alagard.ttf);
}

@font-face {
    font-family: pixel;
    src: url(Minecraft.ttf);
}

body {
    font-family: pixel;
    letter-spacing: 0.1rem;
}

button {
    font-family: pixel;
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
}

.delete {
    background-color: #ff6666;
}

h1 {
    font-family: YeOldPixel;
}