.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin: 10px;
}

.navbar__logo {
    font-family: YeOldPixel;
}

.navbar__link {
    margin: 7px;
    display: inline-block;
}